:root {
	--dark: #071621;
	--light: #dadada;
	--yellow: #ffed33;
	--blue: #126170;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(to bottom, var(--light), #ededed);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: var(--dark);
}

nav {
	background-color: var(--dark);
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 2px 1rem;
	font-variant: small-caps;
	border-bottom: 2px solid var(--yellow);
	
	h2 a {
		color: var(--yellow) !important;
		text-decoration: none;
	}

	ul {
		list-style: none;
		display: flex;
		align-items: flex-end;
		height: 100%;
	}

	li {
		height: 100%;
		padding-inline: .5rem;
		display: flex;
		align-items: flex-end;
		transition: background-image .2s linear;
	
		&:hover {
		margin-top: auto;
			background-image: linear-gradient(to bottom, var(--dark), var(--blue));
		}

		&:last-child {
			margin-right: -.5rem;
		}
	}

	a {
		color: var(--light);
	}
}

a {
	width: fit-content;
}

main {
	padding: 1rem;
	flex: 1;
	gap: 1rem;
	display: flex;
	flex-direction: column;
	min-width: 75vw;
	max-width: 90vw;
	margin: 0 auto;
	overflow-x: hidden;
}

footer {
	background-color: var(--blue);
	font-size: .8rem;
	border-top: 2px solid var(--yellow);
	color: var(--light);
	padding: 2px 1rem;
}

.page {
	padding: 1rem;
	border-radius: .5rem;;
	display: none;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-shadow: 0 2px 5px -2px var(--dark);
	width: 100%;
	height: 100%;
	gap: 1rem;

	&.show {
		display: flex !important;
	}
}

.page__titlebar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-bottom: 1px solid var(--dark);
	padding-bottom: 1rem;
	font-size: .8em;
}

.sections {
	width: 100%;
	height: 100%;
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
}

.section {
	width: 0%;
	transition: width .2s linear;
	display: flex;
	flex-direction: column;
	height: fit-content;
	max-height: 100%;
	align-items: center;
	gap: 1rem;
	overflow-x: hidden;
	overflow-y: auto;
	flex-wrap: nowrap;
	white-space: nowrap;
	min-width: 0;

	.comment {
		font-style: italic;
		color: gray;
		margin: auto;
		max-width: 250px;
		text-align: center;
	}

	&.show {
		width: 100%;
		white-space: initial;
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;

	label {
		font-weight: 700;
		font-size: .8rem;
	}

	input {
		border-radius: .5rem;
		border: 1px solid var(--dark);
		color: var(--dark);
		background-color: var(--light);
		padding: 2px .5rem;
		font-family: 'Courier New', Courier, monospace;
	}
	
	a {
		color: var(--blue);
	}
	
	.formrow {
		flex-direction: row !important;
		gap: .5rem;
	}

	.error {
		--fg: #ad1111;
		border: 1px solid var(--fg);
		background-color: #ff9999;
		color: var(--fg);
		padding: .5rem;
		border-radius: .5rem;

	}
}

button {
	cursor: pointer;
	background-color: var(--blue);
	color: var(--yellow);
	border: 1px solid var(--yellow);
	font-weight: 700;
	letter-spacing: 1.2px;
	padding: .5rem 1rem;
	border-radius: .5rem;

	&.yellow {
		color: var(--dark);
		background-color: var(--yellow);
		border-color: var(--dark);
	}
}

form div {
	display: flex;
	flex-direction: column;
}

.small {
	font-size: .8rem;
}

.hide {
	display: none;
}